server:
  port: 8081
  
  
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  #connect to eureka
      
      
mangement:
  tracing:
    sampling:
      probability: 1.0